<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.personal.oyl.newffms.user.store.mapper.UserMapper">
    <resultMap id="UserResultMap" type="com.personal.oyl.newffms.user.domain.User">
        <id column="user_oid" property="key.userOid" jdbcType="DECIMAL" />
        <result column="user_name" property="userName" jdbcType="NVARCHAR" />
        <result column="user_alias" property="userAlias" jdbcType="NVARCHAR" />
        <result column="gender" property="gender" jdbcType="VARCHAR" />
        <result column="phone" property="phone" jdbcType="VARCHAR" />
        <result column="email" property="email" jdbcType="VARCHAR" />
        <result column="icon" property="icon" jdbcType="VARCHAR" />
        <result column="remarks" property="remarks" jdbcType="VARCHAR" />
        <result column="login_id" property="loginId" jdbcType="VARCHAR" />
        <result column="login_pwd" property="loginPwd" jdbcType="CHAR" />
        <result column="user_type_oid" property="userTypeOid" jdbcType="DECIMAL" />
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
        <result column="create_by" property="createBy" jdbcType="NVARCHAR" />
        <result column="update_by" property="updateBy" jdbcType="NVARCHAR" />
        <result column="seq_no" property="seqNo" jdbcType="DECIMAL" />
    </resultMap>

    <select id="select" resultMap="UserResultMap" parameterType="com.personal.oyl.newffms.user.domain.User">
        select user_oid, user_name, user_alias, gender, phone, email, icon, remarks, login_id, login_pwd, user_type_oid, create_time, update_time, create_by, update_by, seq_no
        from user_profile
        <where>
            <if test="key != null and key.userOid != null">
                user_oid = #{key.userOid,jdbcType=DECIMAL}
            </if>
            <if test="loginId != null">
                and login_id = #{loginId,jdbcType=VARCHAR}
            </if>
        </where>
    </select>
    
    <resultMap id="ModuleResultMap" type="com.personal.oyl.newffms.user.domain.Module">
        <id column="module_oid" property="key.moduleOid" jdbcType="DECIMAL" />
        <result column="module_desc" property="moduleDesc" jdbcType="NVARCHAR" />
        <result column="module_level" property="moduleLevel" jdbcType="DECIMAL" />
        <result column="show_order" property="showOrder" jdbcType="DECIMAL" />
        <result column="module_link" property="moduleLink" jdbcType="VARCHAR" />
        <result column="parent_oid" property="parentOid" jdbcType="DECIMAL" />
    </resultMap>
    
    <select id="selectMenusByUser" resultMap="ModuleResultMap" parameterType="com.personal.oyl.newffms.user.domain.UserKey">
        select module_oid, module_desc, module_level, show_order, module_link, parent_oid
        from module
        where module_oid in (
            select module_oid
                from operation opn, role_operation ro, user_role ur
                where ur.user_oid = #{userOid,jdbcType=DECIMAL}
                and ur.role_oid = ro.role_oid
                and ro.opn_oid = opn.opn_oid
        )
        order by show_order
    </select>
    
    <select id="selectUrlsByUser" resultType="java.lang.String" parameterType="com.personal.oyl.newffms.user.domain.UserKey">
        select opn_url
        from operation_url url, operation opn, role_operation ro, user_role ur
        where ur.user_oid = #{userOid,jdbcType=DECIMAL}
        and ur.role_oid = ro.role_oid
        and ro.opn_oid = opn.opn_oid
        and opn.opn_oid = url.opn_oid
    </select>
</mapper>

