<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.personal.oyl.newffms.incoming.store.mapper.AccountIncomingMapper">
    <resultMap id="BaseResultMap" type="com.personal.oyl.newffms.incoming.domain.AccountIncomingVo">
        <id column="acnt_oid" property="acntOid" jdbcType="DECIMAL" />
        <id column="incoming_oid" property="incomingOid" jdbcType="DECIMAL" />
    </resultMap>

    <sql id="Base_Column_List">
        acnt_oid, incoming_oid
    </sql>
    
    <select id="select" resultMap="BaseResultMap" parameterType="com.personal.oyl.newffms.incoming.domain.AccountIncomingVo">
        select <include refid="Base_Column_List" />
        from account_incoming
        <where>
            <if test="acntOid != null">
                acnt_oid = #{acntOid,jdbcType=DECIMAL}
            </if>
            <if test="incomingOid != null">
                and incoming_oid = #{incomingOid,jdbcType=DECIMAL}
            </if>
        </where>
    </select>

    <delete id="delete" parameterType="com.personal.oyl.newffms.incoming.domain.AccountIncomingVo" >
        delete from account_incoming
        <where>
            <if test="acntOid != null">
                acnt_oid = #{acntOid,jdbcType=DECIMAL}
            </if>
            <if test="incomingOid != null">
                and incoming_oid = #{incomingOid,jdbcType=DECIMAL}
            </if>
        </where>
    </delete>
    
    <insert id="insert" parameterType="com.personal.oyl.newffms.consumption.domain.AccountConsumptionVo">
        insert into account_incoming(
            acnt_oid,
            incoming_oid)
        values (
            #{acntOid,jdbcType=DECIMAL},
            #{incomingOid,jdbcType=DECIMAL})
    </insert>
    
</mapper>

