<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.personal.oyl.newffms.consumption.store.mapper.AccountConsumptionMapper">
    <resultMap id="BaseResultMap" type="com.personal.oyl.newffms.consumption.domain.AccountConsumptionVo">
        <id column="acnt_oid" property="acntOid" jdbcType="DECIMAL" />
        <id column="cpn_oid" property="cpnOid" jdbcType="DECIMAL" />
        <result column="amount" property="amount" jdbcType="DECIMAL" />
    </resultMap>

    <sql id="Base_Column_List">
        acnt_oid, cpn_oid, amount
    </sql>
    
    <select id="select" resultMap="BaseResultMap" parameterType="com.personal.oyl.newffms.consumption.domain.AccountConsumptionVo">
        select <include refid="Base_Column_List" />
        from account_consumption
        <where>
            <if test="acntOid != null">
                acnt_oid = #{acntOid,jdbcType=DECIMAL}
            </if>
            <if test="cpnOid != null">
                and cpn_oid = #{cpnOid,jdbcType=DECIMAL}
            </if>
        </where>
    </select>

    <delete id="delete" parameterType="com.personal.oyl.newffms.consumption.domain.AccountConsumptionVo" >
        delete from account_consumption
        <where>
            <if test="acntOid != null">
                acnt_oid = #{acntOid,jdbcType=DECIMAL}
            </if>
            <if test="cpnOid != null">
                and cpn_oid = #{cpnOid,jdbcType=DECIMAL}
            </if>
        </where>
    </delete>
    
    <insert id="insert" parameterType="com.personal.oyl.newffms.consumption.domain.AccountConsumptionVo">
        insert into account_consumption(
            acnt_oid,
            cpn_oid,
            amount)
        values (
            #{acntOid,jdbcType=DECIMAL},
            #{cpnOid,jdbcType=DECIMAL},
            #{amount,jdbcType=DECIMAL})
    </insert>
</mapper>

