<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.personal.oyl.newffms.consumption.store.mapper.ConsumptionItemMapper">
    <resultMap id="BaseResultMap" type="com.personal.oyl.newffms.consumption.domain.ConsumptionItemVo">
        <id column="item_oid" property="itemOid" jdbcType="DECIMAL" />
        <result column="item_desc" property="itemDesc" jdbcType="NVARCHAR" />
        <result column="amount" property="amount" jdbcType="DECIMAL" />
        <result column="owner_oid" property="ownerOid" jdbcType="DECIMAL" />
        <result column="cpn_oid" property="cpnOid" jdbcType="DECIMAL" />
        <result column="category_oid" property="categoryOid" jdbcType="DECIMAL" />
    </resultMap>


    <sql id="Base_Column_List">
        item_oid, item_desc, amount, owner_oid, cpn_oid, category_oid
    </sql>


    <select id="select" resultMap="BaseResultMap" parameterType="com.personal.oyl.newffms.consumption.domain.ConsumptionItemVo">
        select <include refid="Base_Column_List" />
        from consumption_item
        <where>
            <if test="itemOid != null">
                item_oid = #{itemOid,jdbcType=DECIMAL}
            </if>
            <if test="cpnOid != null">
                and cpn_oid = #{cpnOid,jdbcType=DECIMAL}
            </if>
        </where>
    </select>


    <delete id="delete" parameterType="com.personal.oyl.newffms.consumption.domain.ConsumptionItemVo" >
        delete from consumption_item
        <where>
            <if test="itemOid != null">
                item_oid = #{itemOid,jdbcType=DECIMAL}
            </if>
            <if test="cpnOid != null">
                and cpn_oid = #{cpnOid,jdbcType=DECIMAL}
            </if>
        </where>
    </delete>
    
    
    <insert id="insert" parameterType="com.personal.oyl.newffms.consumption.domain.ConsumptionItemVo" useGeneratedKeys="true" keyProperty="itemOid">
        insert into consumption_item(
            item_desc,
            amount,
            owner_oid,
            cpn_oid,
            category_oid)
        values (
            #{itemDesc,jdbcType=NVARCHAR},
            #{amount,jdbcType=DECIMAL},
            #{ownerOid,jdbcType=DECIMAL},
            #{cpnOid,jdbcType=DECIMAL},
            #{categoryOid,jdbcType=DECIMAL})
    </insert>
    
    <resultMap id="GridResultMap" type="com.personal.oyl.newffms.consumption.domain.ConsumptionItemPaginationVo">
        <id column="item_oid" property="itemOid" jdbcType="DECIMAL" />
        <result column="item_desc" property="itemDesc" jdbcType="NVARCHAR" />
        <result column="amount" property="amount" jdbcType="DECIMAL" />
        <result column="owner_oid" property="ownerOid" jdbcType="DECIMAL" />
        <result column="category_oid" property="categoryOid" jdbcType="DECIMAL" />
        <result column="cpn_oid" property="cpnOid" jdbcType="DECIMAL" />
        <result column="cpn_type" property="cpnType" jdbcType="VARCHAR" />
        <result column="cpn_time" property="cpnTime" jdbcType="TIMESTAMP" />
        <result column="total" property="total" jdbcType="DECIMAL" />
        <result column="batch_num" property="batchNum" jdbcType="VARCHAR" />
        <result column="confirmed" property="confirmed" jdbcType="BIT" />
        <result column="create_by" property="createBy" jdbcType="NVARCHAR" />
    </resultMap>

    <select id="getCountOfSummary" parameterType="com.personal.oyl.newffms.consumption.domain.ConsumptionCondition" resultType="int">
        select count(*)
            from consumption c, consumption_item i
            where c.cpn_oid = i.cpn_oid
            <if test="cpnTimeFrom != null">
                and c.cpn_time >= #{cpnTimeFrom,jdbcType=TIMESTAMP}
            </if>
            <if test="cpnTimeTo != null">
                <![CDATA[ and c.cpn_time <= #{cpnTimeTo,jdbcType=TIMESTAMP} ]]>
            </if>
            <if test="confirmed != null">
                and c.confirmed = #{confirmed,jdbcType=BIT}
            </if>
            <if test="itemDesc != null">
                and i.item_desc like concat('%',#{itemDesc,jdbcType=NVARCHAR},'%')
            </if>
            <if test="ownerOid != null">
                and i.owner_oid = #{ownerOid,jdbcType=DECIMAL}
            </if>
            <if test="categoryOid != null">
                and i.category_oid = #{categoryOid,jdbcType=DECIMAL}
            </if>
    </select>
    
    <select id="getListOfSummary" parameterType="com.personal.oyl.newffms.consumption.domain.ConsumptionCondition" resultMap="GridResultMap">
        select i.item_oid, i.item_desc, i.amount, i.owner_oid, i.category_oid, c.cpn_oid, c.cpn_type, c.cpn_time, c.amount as total, c.batch_num, c.confirmed, c.confirmed, c.create_by
            from consumption c, consumption_item i
            where c.cpn_oid = i.cpn_oid
            <if test="cpnTimeFrom != null">
                and c.cpn_time >= #{cpnTimeFrom,jdbcType=TIMESTAMP}
            </if>
            <if test="cpnTimeTo != null">
                <![CDATA[ and c.cpn_time <= #{cpnTimeTo,jdbcType=TIMESTAMP} ]]>
            </if>
            <if test="confirmed != null">
                and c.confirmed = #{confirmed,jdbcType=BIT}
            </if>
            <if test="itemDesc != null">
                and i.item_desc like concat('%',#{itemDesc,jdbcType=NVARCHAR},'%')
            </if>
            <if test="ownerOid != null">
                and i.owner_oid = #{ownerOid,jdbcType=DECIMAL}
            </if>
            <if test="categoryOid != null">
                and i.category_oid = #{categoryOid,jdbcType=DECIMAL}
            </if>
            <if test="sortField == null" >
                order by c.cpn_time desc
            </if>
            <if test="sortField != null" >
                order by ${sortField} ${sortDir}
            </if>
            limit #{start}, #{sizePerPage}
    </select>

    <resultMap id="queryPersonalConsumptionResultMap" type="com.personal.oyl.newffms.consumption.domain.PersonalConsumptionVo">
        <result column="owner_oid" property="userOid" jdbcType="DECIMAL" />
        <result column="category_oid" property="categoryOid" jdbcType="DECIMAL" />
        <result column="total" property="total" jdbcType="DECIMAL" />
    </resultMap>
    <select id="queryPersonalConsumption" parameterType="java.util.Map" resultMap="queryPersonalConsumptionResultMap">
        <![CDATA[
        select owner_oid, category_oid, sum(i.amount) as total
        from consumption_item i, consumption c
        where i.cpn_oid = c.cpn_oid
        and c.confirmed = true
        and c.cpn_time >= #{start,jdbcType=TIMESTAMP}
        and c.cpn_time <= #{end,jdbcType=TIMESTAMP}
        group by owner_oid, category_oid
        ]]>
    </select>
    
</mapper>

