<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.personal.oyl.newffms.consumption.store.mapper.ConsumptionItemMapper">
    <resultMap id="BaseResultMap" type="com.personal.oyl.newffms.consumption.domain.ConsumptionItemVo">
		<id column="ITEM_OID" property="itemOid" jdbcType="DECIMAL" />
		<result column="ITEM_DESC" property="itemDesc" jdbcType="NVARCHAR" />
		<result column="AMOUNT" property="amount" jdbcType="DECIMAL" />
		<result column="OWNER_OID" property="ownerOid" jdbcType="DECIMAL" />
        <result column="CPN_OID" property="cpnOid" jdbcType="DECIMAL" />
        <result column="CATEGORY_OID" property="categoryOid" jdbcType="DECIMAL" />
	</resultMap>


	<sql id="Base_Column_List">
        ITEM_OID, ITEM_DESC, AMOUNT, OWNER_OID, CPN_OID, CATEGORY_OID
	</sql>


    <select id="select" resultMap="BaseResultMap" parameterType="com.personal.oyl.newffms.consumption.domain.ConsumptionItemVo">
        SELECT <include refid="Base_Column_List" />
        FROM CONSUMPTION_ITEM
        <where>
			<if test="itemOid != null">
				ITEM_OID = #{itemOid,jdbcType=DECIMAL}
			</if>
            <if test="cpnOid != null">
                AND CPN_OID = #{cpnOid,jdbcType=DECIMAL}
            </if>
        </where>
    </select>


    <delete id="delete" parameterType="com.personal.oyl.newffms.consumption.domain.ConsumptionItemVo" >
        DELETE FROM CONSUMPTION_ITEM
        <where>
            <if test="itemOid != null">
                ITEM_OID = #{itemOid,jdbcType=DECIMAL}
            </if>
            <if test="cpnOid != null">
                AND CPN_OID = #{cpnOid,jdbcType=DECIMAL}
            </if>
        </where>
    </delete>
    
    
    <insert id="insert" parameterType="com.personal.oyl.newffms.consumption.domain.ConsumptionItemVo" useGeneratedKeys="true" keyProperty="itemOid">
        INSERT INTO CONSUMPTION_ITEM(
            ITEM_DESC,
            AMOUNT,
            OWNER_OID,
            CPN_OID,
            CATEGORY_OID)
        VALUES (
            #{itemDesc,jdbcType=NVARCHAR},
            #{amount,jdbcType=DECIMAL},
            #{ownerOid,jdbcType=DECIMAL},
            #{cpnOid,jdbcType=DECIMAL},
            #{categoryOid,jdbcType=DECIMAL})
    </insert>
    
    <resultMap id="GridResultMap" type="com.personal.oyl.newffms.consumption.domain.ConsumptionItemPaginationVo">
        <id column="ITEM_OID" property="itemOid" jdbcType="DECIMAL" />
        <result column="ITEM_DESC" property="itemDesc" jdbcType="NVARCHAR" />
        <result column="AMOUNT" property="amount" jdbcType="DECIMAL" />
        <result column="OWNER_OID" property="ownerOid" jdbcType="DECIMAL" />
        <result column="CATEGORY_OID" property="categoryOid" jdbcType="DECIMAL" />
        <result column="CPN_OID" property="cpnOid" jdbcType="DECIMAL" />
        <result column="CPN_TYPE" property="consumption.cpnType" jdbcType="VARCHAR" />
        <result column="CPN_TIME" property="consumption.cpnTime" jdbcType="TIMESTAMP" />
        <result column="TOTAL" property="consumption.amount" jdbcType="DECIMAL" />
        <result column="BATCH_NUM" property="consumption.batchNum" jdbcType="VARCHAR" />
        <result column="CONFIRMED" property="consumption.confirmed" jdbcType="BIT" />
        <result column="CREATE_BY" property="consumption.createBy" jdbcType="NVARCHAR" />
    </resultMap>

    <select id="getCountOfSummary" parameterType="com.personal.oyl.newffms.consumption.domain.ConsumptionCondition" resultType="int">
        SELECT COUNT(*)
            FROM CONSUMPTION C, CONSUMPTION_ITEM I
            WHERE C.CPN_OID = I.CPN_OID
            <if test="cpnTimeFrom != null">
                AND C.CPN_TIME >= #{cpnTimeFrom,jdbcType=TIMESTAMP}
            </if>
            <if test="cpnTimeTo != null">
                <![CDATA[ AND C.CPN_TIME <= #{cpnTimeTo,jdbcType=TIMESTAMP} ]]>
            </if>
            <if test="confirmed != null">
                AND C.CONFIRMED = #{confirmed,jdbcType=BIT}
            </if>
            <if test="itemDesc != null">
                AND I.ITEM_DESC LIKE CONCAT('%',#{itemDesc,jdbcType=NVARCHAR},'%')
            </if>
            <if test="ownerOid != null">
                AND I.OWNER_OID = #{ownerOid,jdbcType=DECIMAL}
            </if>
            <if test="categoryOid != null">
                AND I.CATEGORY_OID = #{categoryOid,jdbcType=DECIMAL}
            </if>
    </select>
    
    <select id="getListOfSummary" parameterType="com.personal.oyl.newffms.consumption.domain.ConsumptionCondition" resultMap="GridResultMap">
        SELECT I.ITEM_OID, I.ITEM_DESC, I.AMOUNT, I.OWNER_OID, I.CATEGORY_OID, C.CPN_OID, C.CPN_TYPE, C.CPN_TIME, C.AMOUNT AS TOTAL, C.CONFIRMED, C.CONFIRMED, C.CREATE_BY
            FROM CONSUMPTION C, CONSUMPTION_ITEM I
            WHERE C.CPN_OID = I.CPN_OID
            <if test="cpnTimeFrom != null">
                AND C.CPN_TIME >= #{cpnTimeFrom,jdbcType=TIMESTAMP}
            </if>
            <if test="cpnTimeTo != null">
                <![CDATA[ AND C.CPN_TIME <= #{cpnTimeTo,jdbcType=TIMESTAMP} ]]>
            </if>
            <if test="confirmed != null">
                AND C.CONFIRMED = #{confirmed,jdbcType=BIT}
            </if>
            <if test="itemDesc != null">
                AND I.ITEM_DESC LIKE CONCAT('%',#{itemDesc,jdbcType=NVARCHAR},'%')
            </if>
            <if test="ownerOid != null">
                AND I.OWNER_OID = #{ownerOid,jdbcType=DECIMAL}
            </if>
            <if test="sortField == null" >
                ORDER BY C.CPN_TIME DESC
            </if>
            <if test="categoryOid != null">
                AND I.CATEGORY_OID = #{categoryOid,jdbcType=DECIMAL}
            </if>
            <if test="sortField != null" >
                ORDER BY ${sortField} ${sortDir}
            </if>
            LIMIT #{start}, #{sizePerPage}
    </select>
    
</mapper>